mixin product(data)
  .product
    .product__imagebox
      img.product__image(src=`img/image-content/${data.image}.png`, alt="")
    .product__content
      span.product__category Подарочные сертификаты
      .product__title Сертификат OZON 5000 руб.
      span.product__desc Электронный, действует 1 год
      span.product__price 9 262к
