// colors
$color-black: #100e0e;
$color-white: #ffffff;
$color-gold: #d1a773;
$color-gold-85: rgba(209, 167, 115, 0.85);
$color-gold-7: rgba(209, 167, 115, 0.7);
$color-gold-6: rgba(209, 167, 115, 0.6);
$color-gold-5: rgba(209, 167, 115, 0.5);
$color-gold-45: rgba(209, 167, 115, 0.45);
$color-gold-4: rgba(209, 167, 115, 0.4);
$color-gold-3: rgba(209, 167, 115, 0.4);
$color-gold-light: #efc18e;

// font-family
$font-default: "Montserrat", Arial, sans-serif;
$font-headings: "MADETheArtistSans", Arial, sans-serif;

// transition
$transition: 0.3s ease;
$transition-long: 0.7s ease;
